<div class="hero-unit">
    <h1>欢迎来到郝晓倩的主页</h1>
    <p>这是一个基于node.js的个人主页系统</p>
    <p>
        <a class="btn btn-primary btn-large" href="/login" title="">登录</a>
        <a class="btn btn-large" href="/register">立即注册</a>
    </p>
</div>
<div class="row">
    <div class="span4">
        <h2>Carbo 说</h2>
        <p>郝晓倩是一个很漂亮的孩子</p>
    </div>
    <div class="span4">
        <h2>Xiaoqian 说</h2>
        <p>郝晓倩是一个很温和的姑娘</p>
    </div>
    <div class="span4">
        <h2>Michale 说</h2>
        <p>郝晓倩是一个了不起的孩子</p>
    </div>
</div>
