<div class="hero-unit">
    <h1>欢迎来到王功鹏的主页</h1>
    <p>这是一个基于node.js的个人主页系统</p>
    <p>
        <a class="btn btn-primary btn-large" href="/login" title="">登录</a>
        <a class="btn btn-large" href="/register">立即注册</a>
    </p>
</div>
<div class="row">
    <div class="span4">
        <h2>Carbo 说</h2>
        <p>王功鹏是一个很聪明的孩子</p>
    </div>
    <div class="span4">
        <h2>Xiaoqian 说</h2>
        <p>王功鹏是一个很帅气的小伙</p>
    </div>
    <div class="span4">
        <h2>Michal 说</h2>
        <p>王功鹏是一个了不起的孩子</p>
    </div>
</div>
